html, body {
  width: 100%;
  height: 100%;
  background-color: gray;
  margin: 0;
}

header {
  background-color: rgba(255, 181, 0, 1);
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

header>div:nth-child(1) {
  display: flex;
}

.menu ul {
  list-style-type: none;
}

.menu-links {
  display: inline-block;
}

main {
  width: 100%;
  height: 100%;
  background-color: pink;
}

#gif {
  width: 100%;
  height: 50%;
  background-color: aquamarine;
}

section#front {
  width: 100%;
  /* height: 100%; */
  background-color: lightseagreen;
}

section#front>div {
  max-width: 50em;
  min-width: 360px;
  margin: 0 auto;
  padding: 1em 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

section#video {
  width: 100%;
  height: 100%;
  background-color: violet;
}

section#video>div {
  max-width: 50em;
  min-width: 360px;
  margin: 0 auto;
  padding: 1em 0;
  display: flex;
  justify-content: center;
}

button#form {

}


